<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sat2IpGui.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sat2IpGui.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <Sat2IpGui.Properties.App>
      <setting name="LNB1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LNB2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LNB3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LNB4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IpAddressDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="PortDevice" serializeAs="String">
        <value>554</value>
      </setting>
      <setting name="OscamServer" serializeAs="String">
        <value>10.56.57.155</value>
      </setting>
      <setting name="OscamPort" serializeAs="String">
        <value>9000</value>
      </setting>
    </Sat2IpGui.Properties.App>
  </userSettings>
</configuration>
